#id-selector{
    background-color: pink;
}

.class-selector{
    background-color: aqua;
}

p{
    background-color: black;
}
button:hover{
    border-color: grey;
    background-color:aquamarine;
}
#order-list>:nth-child(2){
    background-color:bisque;
}